<div class="grid_4">
	<h2><%= @user.name %></h2>
	<p><%= @user.name %> has written <%= pluralize(@user.guides.count, 'guide') %>.</p>
	
</div>
<div class="grid_6">
	<h2>Guides</h2>
	<%= render :partial => "guides/public_guide", :collection => @user.guides, :as => :guide %>
</div>
