<div class="grid_6">
	<h2>Your Guides</h2>
	<%= link_to "Create New Guide", new_guide_path, :class => "btn big", :id => "create_guide" %>
	<%= render :partial => "guides/guide", :collection => current_user.guides, :as => :guide %>
</div>
<div class="grid_4">
	
	<h2>Newest Guides</h2>
	<%= render :partial => "guides/public_guide", :collection => @guides, :as => :guide %>
</div>