<div class="grid_6">
	<h2>Your Guides</h2>
	<%= link_to "Create New Guide", new_guide_path, :class => "btn big", :id => "create_guide" %>
	<%= render :partial => "guides/guide_edit", :collection => current_user.guides, :as => :guide %>
</div>
<div class="grid_4">
	
</div>