<div class="grid_10">
	
	<p class="biggie">Page Pope is a site with personal guides that fit on a single printed page. Share your favorite restaurants, places to shop, or other hidden gems with the world.</p>

	<p><%= link_to('Sign Up For Free', new_user_registration_path, :class => "btn big") %></p>

</div>