.guide-item {
	position: relative;
	float: left;
	height: 330px;
	margin-bottom: 30px;
}

#guide-header {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #D5D5D5;
}

#guide-header h2 {
	font-size: 40px;
	color: #0b5ba0;
	letter-spacing: -1px;
	margin-bottom: 10px;
}

.guide-item h3 {
	font-size: 16px;
	margin-bottom: 5px;
}

.guide-item address {
	font-size: 14px;
	margin-bottom: 7px;
	color: #275379;
	font-style: normal;
}

.guide-item p.empty {
	padding-top: 30px;
	background-color: #ECECEC;
	text-align: center;
	height: 320px;
	font-size: 13px;
	color: #A7B4BD;
}

.guide-item p.empty a {
	border: none;
	color: #A7B4BD;
}

.guide-item p.description {
	font-size: 14px;
	margin-top: 10px;
	line-height: 17px;
}

.guide-item .list-address {
	width: 100%;
	height: 195px;
	background-color: gray;
}

.guide-item a.edit-guide-link {
	font-size: 14px;
	width: 40px;
	position: absolute;
	top: 44px;
	text-align: center;
}

.guide-item.alpha a.edit-guide-link {
	left: -70px;
}

.guide-item.omega a.edit-guide-link {
	right: -70px;
}

