#create_guide {
	width: 430px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.list-guide {
	padding: 10px 0px;
	border-bottom: 1px dotted #D5D5D5;
}

.list-guide a {
	border: none;
	font-size: 18px;
}