<div class="grid_10">

	<h2><%= @guide.title%></h2>

	<p><%= @guide.description%></p>

	<p><%= link_to "OFFICIAL LINK TO THIS GUIDE", guide_path(@guide) %></p>

	<%= render :partial => "items/list_edit", :collection => @guide.items, :as => :item %>
	
	<div class="clear"></div>

</div>