<% content_for :head_extras do %>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false'></script>
	<script type="text/javascript">	
		jQuery(document).ready(function() {
			$('.list-address').each(function() {
				var t = $(this);
				t.gmap({"center" : t.attr("data-address"), "zoom" : 15, "disableDefaultUI" : true, "zoomControl" : true, "callback" : function() {
					this.addMarker({'position': this.get('map').getCenter()});
				}});
			});
		});
	</script>
<% end %>

<div class="grid_10">

	<div id="guide-header">
		<h2><%= @guide.title%></h2>
		<p><%= @guide.description%> By <%= @guide.user.name %></p>
	</div>

	<%= render :partial => "items/item", :collection => @guide.items, :as => :item %>
	<div class="clear"></div>

</div>