<div id="menu">
	<div class="grid_3" id="menu_left">
		<%= link_to(image_tag("small_logo.jpg"), root_path) %>
	</div>
	<div class="grid_7" id="menu_right">
		<ul>
		  <% if user_signed_in? %>
		    <li>
		    <%= link_to('Profile', edit_user_registration_path) %>
		    </li>
				<li>
		    <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
		    </li>
		  <% else %>
		    <li>
		    <%= link_to('Login', new_user_session_path)  %>  
		    </li>
		  <% end %>
			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>